body {
	background-image: url("media/bckgrnd.jpg");
	background-size:cover;
	background-color:#9fa28e;
	text-align:center;
}
#directory {
	background-color:#f2f1f0;
	overflow:hidden;
}
#directory ul{
	list-style-type:none;
	margin:0;
	padding:0;
	position:relative;
	left:50%;
	float:left;
}
#directory ul li{
	color:#f2f1f0;
	float:left;
	position: relative;
	right: 50%;
	display:block;
}
#directory ul li a{
	
	display:block;
	text-decoration:none;
	padding:15px 20px;
	color:#6b2a11;
	
}
#directory ul li a:hover{
	
	display:block;
	text-decoration:none;
	background-color:#379683;
	padding:15px 20px;
	color:#EDF5E1;
	
}

h1{
	color:#e8e1d9;
	background-color:#9fa28e;
	font-size:220%;
	border: 10px solid #EDF5E1;
	border-radius:40%;
	padding:5px;
	clear:left;
	
}

h2{
	background-color:#9fa28e;
	clear:left;
	border:10px solid #EDF5E1;
	color:#e8e1d9;
	font-size:200%;
	border-radius:40%;
	padding:5px;
	text-align:center;
	
	
}
fieldset {
	clear:left;
	background-color:#9fa28e;
	color:#EDF5E1;
}
ul{
	list-style-type: none;
}
ul li a{
	float:left;
	clear:left;
	background-color:#f2f1f0;
	color:#EDF5E1;
	display:block;
	text-decoration:none;
}
p {
	
	clear:left;
	border:10px solid #9fa28e;
	background-color: #9fa28e;
	font-size:120%;
	color:#EDF5E1;
	
}
ul{
	
	clear:left;
}

	
img{
	border: 10px solid #e8e1d9;
	border-radius:10%;
	padding:5px;
	clear:left;
	display: block;
	margin-left: auto;
	margin-right: auto;
	
}

figcaption {
	
	border:10px solid #9fa28e;
	clear:left;
	background-color: #9fa28e;	
	padding:5px;
	text-align:center;
	
}


#music_desc {
	clear:left;
	
}
#music_desc ul{
	list-style-type:none;
}
#music_desc a{
	
	color:#695953;
	text-decoration:none;
	
	margin:0;
	padding:0;
	background-color:#9fa28e;
	border:10px solid white;
	border-radius:25%;
}
#music_desc a:hover {
		
	color:white;
	text-decoration:none;
	list-style-type:none;
	margin:0;
	padding:0;
	border:10px solid #6CC551;
	background-color:#9FFCDF;
}
.wrapper{
	position:relative;
	width: 80%;
	height:100%;
	margin:auto;
	background:#e8e1d9;
	padding: 50px;
	box-shadow: 0 10px 30px rgb(0,0,.1);
	overflow:hidden; 	
}

#map {
	width: 700px;
	height: 500px;
	background-color:#9fa28e;
	margin: 30px auto;
}
#tiny_icons img{
	width: 100px;
	float:right;
}
#header_images img{
	width: 100px;
	float:left;
}