body {
	background-image:url("media/bckgrnd.jpg");
	background-size:cover;
	background-color:white;
	text-align:center;
}
#directory {
	background-color:#f2f1f0;
	overflow:hidden;
}
#directory ul{
	
	list-style-type:none;
	margin:0;
	padding:0;
	position:relative;
	left:50%;
	float:left;
}
#directory ul li{

	float:left;
	position: relative;
	right: 50%;
	display:block;
}
#directory ul li a{
	
	display:block;
	text-decoration:none;
	padding:15px 20px;
	color:#6b2a11;
	
}
#directory ul li a:hover{
	
	display:block;
	text-decoration:none;
	background-color:#379683;
	padding:15px 20px;
	color:#EDF5E1;
	
}

h1{
	color:#05386B;
	background-color:#EDF5E1;
	font-size:220%;
	border: 10px solid #EDF5E1;
	border-radius:40%;
	padding:5px;
	float:left;
	clear:left;
	
}

h2{
	background-color:#379683;
	clear:left;
	border:10px solid #379683;
	color:#05386B;
	font-size:200%;
	border-radius:40%;
	padding:5px;
	text-align:center;
	
	
}
fieldset {
	
	clear:left;
	background-color:#379683;
	color:#EDF5E1;
}
fieldset ul{
	list-style-type: none;
	margin:0;
	padding:0;
	position:relative;
	left:50%;
	float:left;
}
fieldset ul li a{
	float:left;
	clear:left;
	background-color:#379683;
	color:#EDF5E1;
	display:block;
}
p {
	
	clear:left;
	border:10px solid #5CDB95;
	background-color: #5CDB95;
	font-size:120%;
	
}
ul{
	
	clear:left;
}

	
img{
	border: 10px solid #8EE4AF;
	border-radius:10%;
	padding:5px;
	
	clear:left;
	background-color:#8EE4AF;
	display: block;
	margin-left: auto;
	margin-right: auto;
	
}

figcaption {
	
	border:10px solid #8EE4AF;
	clear:left;
	background-color: #8EE4AF;	
	padding:5px;
	text-align:center;
	
}


#music_desc {
	clear:left;
	
}
#music_desc a{
	
	color:#05386B;
	text-decoration:none;
	list-style-type:none;
	margin:0;
	padding:0;
	background-color:#9FFCDF;
	border:10px solid #8EE4AF;
	border-radius:25%;
}
#music_desc a:hover {
		
	color:white;
	text-decoration:none;
	list-style-type:none;
	margin:0;
	padding:0;
	border:10px solid #6CC551;
	background-color:#9FFCDF;
}
.wrapper{
	position:relative;
	width: 80%;
	height:100%;
	z-index:1;
	margin:auto;
	background:#e8e1d9;
	padding: 50px;
	box-shadow: 0 10px 30px #a8a096;
	overflow:hidden; 	
}